[global_config]
  window_state = maximise
  borderless = True
  extra_styling = False
  title_hide_sizetext = True
  inactive_color_offset = 1.0
  enabled_plugins = TerminatorThemes, LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  suppress_multiple_term_dialog = True
  always_split_with_profile = True
[keybindings]
  switch_to_tab_1 = <Alt>1
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_6 = <Alt>6
  switch_to_tab_7 = <Alt>7
  switch_to_tab_8 = <Alt>8
  switch_to_tab_9 = <Alt>9
[profiles]
  [[default]]
    icon_bell = False
    cursor_shape = ibeam
    cursor_color = "#aaaaaa"
    font = Hack Nerd Font 12
    show_titlebar = False
    use_system_font = False
  [[Base16GoogleDark]]
    icon_bell = False
    background_color = "#2e3436"
    background_darkness = 0.95
    cursor_blink = False
    cursor_color = "#c5c8c6"
    font = DejaVuSansMono Nerd Font 12
    foreground_color = "#c5c8c6"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#2e3436:#cc0000:#4e9a06:#edd400:#729fcf:#75507b:#72c6cf:#f3f3f3:#555753:#f57900:#8ae234:#fce94f:#72b3cf:#ad7fa8:#72c6cf:#ffffff"
    use_system_font = False
  [[Freya]]
    icon_bell = False
    background_color = "#252e32"
    background_darkness = 0.95
    background_type = transparent
    cursor_blink = False
    cursor_color = "#839496"
    font = DejaVuSansMono Nerd Font 12
    foreground_color = "#94a3a5"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#ec0048:#2aa198:#94a3a5:#586e75:#cb4b16:#859900:#b58900:#268bd2:#d33682:#2aa198:#6c71c4"
    use_system_font = False
  [[Juicy]]
    icon_bell = False
    background_color = "#2e3436"
    background_darkness = 0.95
    cursor_blink = False
    cursor_color = "#fcfcfc"
    font = SauceCodePro Nerd Font Medium 10
    foreground_color = "#babdb6"
    show_titlebar = False
    scrollback_infinite = True
    palette = "#2e3436:#ef2929:#4e9a06:#edd400:#729fcf:#75507b:#98f4ff:#d3d7cf:#555753:#ef4343:#6e9a43:#eddf66:#a6bacf:#775c7b:#98f4ff:#eeeeec"
    use_system_font = False
  [[Custom]]
    icon_bell = False
    background_color = "#300a24"
    background_darkness = 0.95
    background_type = transparent
    cursor_blink = False
    cursor_color = "#bbbbbb"
    font = DejaVuSansMono Nerd Font 12
    foreground_color = "#eeeeec"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    use_system_font = False
  [[Mine]]
    icon_bell = False
    background_color = "#282c34"
    background_darkness = 0.95
    cursor_blink = False
    cursor_color = "#dcdfe4"
    font = SauceCodePro Nerd Font Medium 10
    foreground_color = "#dcdfe4"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#282c34:#e44949:#4fa15e:#c1c101:#61afef:#c678dd:#56b6c2:#dcdfe4:#4c5363:#e96d6d:#6eb77b:#fdfd03:#80bff2:#d193e3:#77c4ce:#e3e5e9"
    use_system_font = False
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = Mine
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
